<app-payment-filter (addPaymentClicked)="open(addPaymentDialog)"
                    (selectionDone)="doSearch($event)"
                    [havePermission]="isAdmin || isRepresentative">
</app-payment-filter>

<div *ngIf="loading" class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<a (click)="exportToExcel()"
   *ngIf="payments"
   class="export ml-3">
  Exportar a Excel
</a>

<div class="table-responsive">
  <table #tableElement
         *ngIf="!loading"
         class="table"
         id="table">
    <thead>
    <tr>
      <th>Circuito</th>
      <th>Casa</th>
      <th>Fecha de pago</th>
      <th>Monto</th>
      <th>Concepto</th>
      <th>Modo de pago</th>
      <th>Notas</th>
      <th>Verificación</th>
      <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr (click)="showVouchers()"
        *ngFor="let payment of payments">
      <td>{{payment.streetName}}</td>
      <td>{{payment.houseNumber}}</td>
      <td>{{payment.paymentDate | commonDateFormat}}</td>
      <td>{{payment.amount | currency}}</td>
      <td>{{payment.paymentConcept + (payment.paymentSubConcept ? ' - ' + payment.paymentSubConcept : '')}}</td>
      <td>{{payment.paymentMode | paymentMode}}</td>
      <td>{{payment.notes}}</td>
      <td>
        <select (change)="onChange(payment,$event)"
                (click)="$event.stopPropagation()"
                *ngIf="(isAdmin && !payment.validated);else showResult"
                class="form-control">
          <option [value]="false">{{payment.validated | verification}}</option>
          <option [value]="true">{{!payment.validated | verification}}</option>
        </select>
        <ng-template #showResult>{{payment.validated | verification}}</ng-template>
      </td>
      <td>
        <i class="bi bi-trash btn btn-link"
           (click)="deletePayment(payment, $event)"
           *ngIf="isAdmin || (!payment.validated && isRepresentative)">
        </i> &nbsp;
        <i class="bi bi-pencil btn btn-link"
           disabled="true"
           (click)="editPayment(addPaymentDialog, payment, $event)"
           *ngIf="(isAdmin || isRepresentative) && !payment.validated">
        </i>
      </td>
    </tr>
    </tbody>
  </table>
</div>


<ng-template #addPaymentDialog let-c="close" let-d="dismiss">

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Registrar pago</h4>
    <button (click)="d('Cross click')"
            aria-label="Close"
            class="close"
            type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <app-payment-add (dataReady)="newPaymentReady = true"
                     (date)="changeDate($event)"
                     (wrongData)="newPaymentReady = false"
                     [isEdit]="isEdit"
                     [maxDate]="maxDate"
                     [minDate]="minDate"
                     [paymentData]="newPayment"
                     [paymentDateReadOnly]="false">
    </app-payment-add>
  </div>

  <div class="modal-footer">
    <label *ngIf="!newPaymentReady" class="alert-danger">Hay datos inválidos</label>
    <button (click)="c('saved')"
            [disabled]="!newPaymentReady"
            class="btn btn-outline-dark"
            type="button">
      Guardar
    </button>
  </div>

</ng-template>
