<div class="mt-2 bg-light pb-2 pl-3 pr-3">

  <div class="row">
    <div *ngIf="streets?.length > 1" class="col col-12">
      <select (change)="selectStreet()" [(ngModel)]="selectedStreetId" class="form-control">
        <option [value]="null">Seleccione un circuito</option>
        <option *ngFor="let street of streets" [value]="street.id">{{street.name}}</option>
      </select>
    </div>

    <div *ngIf="streets?.length == 1 && selectedStreet" class="col col-12">
      <h4 *ngIf="selectedStreet" class="display-4">{{selectedStreet.name}}</h4>
    </div>
  </div>

  <div *ngIf="selectedStreet" class="row border-bottom mt-1">
    <div *ngIf="!loading" class="col">
      <h6 *ngIf="selectedStreet.representative">
        Representante: {{selectedStreet.representative.name}}
        {{selectedStreet.representative.phone}}</h6>
    </div>
  </div>

  <div *ngIf="loading" class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <div *ngIf="selectedStreet && !loading" class="mt-4">
    <div *ngIf="mobile" class="row border-bottom">
      <div class="col col-3">#</div>
      <div class="col col-1 text-center">B1</div>
      <div class="col col-1 text-center">B2</div>
      <div class="col col-1 text-center">B3</div>
      <div class="col col-1 text-center">B4</div>
      <div class="col col-1 text-center">B5</div>
      <div class="col col-1 text-center">B6</div>
      <div class="col col-2 text-center">Pluma</div>
    </div>
    <div *ngIf="!mobile" class="row border-bottom">
      <div class="col col-1">#</div>
      <div class="col col-1">Chips</div>
      <div class="col col-2">&nbsp;</div>
      <div class="col col-1 text-center">Bim1</div>
      <div class="col col-1 text-center">Bim2</div>
      <div class="col col-1 text-center">Bim3</div>
      <div class="col col-1 text-center">Bim4</div>
      <div class="col col-1 text-center">Bim5</div>
      <div class="col col-1 text-center">Bim6</div>
      <div class="col col-1 text-center">Pluma</div>
    </div>

    <div *ngFor="let house of selectedStreet.houses;let i = index" [ngClass]="{'bg-white': i % 2 == 1}"
         class="row pb-2 ">

      <div class="col {{mobile ? 'col-3' : 'col-1'}} pt-2">{{house.number}}</div>

      <div *ngIf="!mobile" class="col col-1 pt-2">
        <div class="custom-control custom-switch ">
          <input (ngModelChange)="chipsForHouseEnabled(selectedStreet, house)" [(ngModel)]="house.chipsEnabled"
                 class="custom-control-input"
                 id="{{'chip-' + house.number}}"
                 type="checkbox">
          <label class="custom-control-label" for="{{'chip-' + house.number}}"></label>
        </div>
      </div>

      <div *ngIf="!mobile" class="col col-2">
        <button (click)="house.toggleChips = true" *ngIf="!house.toggleChips"
                class="btn btn-link">
          <em class="bi bi-caret-down-fill"></em> Mostrar chips
        </button>
        <button (click)="house.toggleChips = false" *ngIf="house.toggleChips"
                class="btn btn-link">
          <em class="bi bi-caret-up-fill"></em> Ocultar chips
        </button>
        <app-chips-by-house *ngIf="house.toggleChips"
                            [house]="house"
                            [street]="selectedStreet">
        </app-chips-by-house>
      </div>

      <div
        *ngFor="let bimesterPayment of house.twoMonthsPayments;let bim = index"
        [ngStyle]="{'background-color': bimesterPayment.complete ? '#B6D7A8': 'transparent'}"
        class="col col-1 border border-light rounded d-flex align-items-center justify-content-center numbers">
        <div *ngIf="bimesterPayment.complete && !mobile"
             (mouseleave)="onMouseLeave(number)"
             (mouseover)="onMouseOver(number)">
          PAGADO
        </div>

        <div (click)="addPayment(addPaymentDialog, bim + 1, bimesterPayment, house)"
             (mouseleave)="onMouseLeave(number)"
             (mouseover)="onMouseOver(number)"
             *ngIf="!bimesterPayment.complete"
             class="btn btn-link">
          {{(bimesterPayment.amount ? bimesterPayment.amount : '&nbsp;')}}
        </div>

        <div #number class="number">
          {{house.number}}-B{{bim + 1}}
        </div>

      </div>

      <div
        [ngStyle]="{'background-color': house.parkingPenPayment.complete ? '#B6D7A8': 'transparent'}"
        class="ml-1 col {{mobile ? 'col-2' : 'col-1'}} border border-light rounded d-flex align-items-center justify-content-center">
        {{house.parkingPenPayment.complete ? (mobile ? '' : 'PAGADO') : (house.parkingPenPayment.amount ? house.parkingPenPayment.amount : '')}}
      </div>

    </div>

  </div>

</div>

<ng-template #addPaymentDialog let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Registrar pago</h4>
    <button (click)="d('Cross click')" aria-label="Close" class="close" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-payment-add (dataReady)="newPaymentReady = true"
                     (wrongData)="newPaymentReady = false"
                     [house]="house"
                     [paymentData]="newPayment"
                     [street]="selectedStreet">
    </app-payment-add>
  </div>
  <div class="modal-footer">
    <label *ngIf="!newPaymentReady" class="alert-danger">Hay datos inválidos</label>
    <button (click)="c('saved')" [disabled]="!newPaymentReady" class="btn btn-outline-dark"
            type="button">Guardar
    </button>
  </div>
</ng-template>
