<div class="row">

  <div class="col-4">
    <label class="form-label" for="street">Circuito:</label>
  </div>

  <div class="col-8">
    <select (change)="streetSelected()"
            [(ngModel)]="paymentData.streetId"
            [disabled]="!!paymentData.id"
            [ngClass]="{'border border-danger':!isStreetValid() }"
            class="form-control">
      <ng-container *ngIf="!street; else elseBlock">
        <option *ngFor="let street of streets"
                id="street"
                [value]="street.id">
          {{street.name}}
        </option>
      </ng-container>
      <ng-template #elseBlock>
        <option [value]="street.id">
          {{street.name}}
        </option>
      </ng-template>
    </select>
  </div>

</div>

<div class="row mt-1">

  <div class="col-4">
    <label class="form-label" for="house">Casa:</label>
  </div>

  <div class="col-8">
    <select (change)="formChanged()"
            [(ngModel)]="paymentData.houseId"
            [disabled]="!!paymentData.id"
            [ngClass]="{'border border-danger':!isHouseValid() }"
            class="form-control"
            id="house">
      <ng-container *ngIf="!house; else elseBlock2">
        <option *ngFor="let house of houses" [value]="house.id">
          {{house.number}}
        </option>
      </ng-container>
      <ng-template #elseBlock2>
        <option [value]="house.id">
          {{house.number}}
        </option>
      </ng-template>
    </select>
  </div>

</div>

<div class="row mt-1">
  <div class="col-4">
    <label class="form-label" for="paymentMode">Modo de pago:</label>
  </div>
  <div class="col-8">
    <select (change)="formChanged()"
            [(ngModel)]="paymentData.paymentMode"
            [ngClass]="{'border border-danger':!isPaymentModeValid() }"
            class="form-control"
            id="paymentMode">
      <option value="CASH">Efectivo</option>
      <option value="TRANSFER">Transferencia</option>
    </select>
  </div>
</div>

<div class="row mt-1">

  <div class="col-4">
    <label class="form-label" for="paymentDate">Fecha de pago:</label>
  </div>

  <div class="col-8">
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group pr-1">
          <input #paymentDate="ngbDatepicker"
                 [(ngModel)]="modelPaymentDate"
                 (ngModelChange)="updateDate()"
                 [maxDate]="maxDate"
                 [minDate]="minDate"
                 [ngClass]="{'border border-danger':!isPaymentDateValid() }"
                 class="form-control"
                 id="paymentDate"
                 name="dp"
                 ngbDatepicker
                 placeholder="yyyy-mm-dd">
          <div class="input-group-append">
            <button (click)="paymentDate.toggle()"
                    class="btn btn-outline-secondary calendar"
                    type="button">
              <i class="bi bi-calendar3"></i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>

<div class="row mt-1">

  <div class="col-4">
    <label class="form-label" for="concept">Concepto:</label>
  </div>

  <div class="col-8">
    <select (change)="conceptUpdated()"
            [(ngModel)]="paymentData.paymentConceptId"
            [ngClass]="{'border border-danger':!isPaymentConceptValid() }"
            class="form-control"
            id="concept">
      <ng-container *ngIf="!house; else elseBlock3">
        <option *ngFor="let concept of paymentConcepts"
                [value]="concept.id">
          {{concept.label}}
        </option>
      </ng-container>
      <ng-template #elseBlock3>
        <option [value]="paymentData.paymentConceptId">
          {{labelConcept}}
        </option>
      </ng-template>
    </select>
  </div>

</div>

<div *ngIf="paymentSubConcepts.length || paymentData.paymentSubConceptId" class="row mt-1">

  <div class="col-4">
    <label class="form-label" for="subConcept">Sub-Concepto:</label>
  </div>

  <div class="col-8">
    <select (change)="formChanged()" [(ngModel)]="paymentData.paymentSubConceptId"
            [ngClass]="{'border border-danger':!isPaymentSubConceptValid() }"
            class="form form-control"
            id="subConcept">
      <ng-container *ngIf="!house; else elseBlock4">
        <option *ngFor="let concept of paymentSubConcepts"
                [value]="concept.id">
          {{concept.label}}
        </option>
      </ng-container>
      <ng-template #elseBlock4>
        <option [value]="paymentData.paymentSubConceptId">
          {{labelSubConcept}}
        </option>
      </ng-template>
    </select>
  </div>

</div>

<div class="row mt-1">

  <div class="col-4">
    <label class="form-label" for="amount">Monto:</label>
  </div>

  <div class="col-8">
    <input (change)="formChanged()"
           [(ngModel)]="paymentData.amount"
           [ngClass]="{'border border-danger':!isPaymentAmountValid() }"
           class="form-control"
           id="amount"
           placeholder="0"
           type="number">
  </div>

</div>

<div class="row mt-1">
  <div class="col-12">
    <label class="form-label" for="notes">Notas:</label>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <textarea
      (change)="formChanged()"
      [(ngModel)]="paymentData.notes"
      class="form-control" id="notes">
    </textarea>
  </div>
</div>

<div class="row mt-1">

  <div class="col-4">
    <label class="form-label" for="voucher">Comprobante:</label>
  </div>

  <div class="col-8">
    <input type="file"
           multiple
           (change)="prepareFiles($event)"
           class="form-control" id="voucher">
  </div>
</div>
