<div class="row">
  <div class="col-4">
    <label for="street" class="form-label">Circuito:</label>
  </div>
  <div class="col-8">
    <select [disabled]="!!paymentData.id" id="street" class="form-control" [(ngModel)]="paymentData.streetId"
            (change)="streetSelected()"
            [ngClass]="{'border border-danger':!isStreetValid() }">
      <option *ngFor="let street of streets" [value]="street.id">{{street.name}}</option>
    </select>
  </div>
</div>
<div class="row mt-1">
  <div class="col-4"><label for="house" class="form-label">Casa:</label></div>
  <div class="col-8">
    <select [disabled]="!!paymentData.id" id="house" class="form-control" [(ngModel)]="paymentData.houseId"
            [ngClass]="{'border border-danger':!isHouseValid() }"
            (change)="formChanged()">
      <option *ngFor="let house of houses" [value]="house.id">{{house.number}}</option>
    </select>
  </div>
</div>
<div class="row mt-1">
  <div class="col-4"><label for="paymentMode" class="form-label">Modo de pago:</label></div>
  <div class="col-8"><select id="paymentMode" class="form-control"
                             [(ngModel)]="paymentData.paymentMode"
                             (change)="formChanged()"
                             [ngClass]="{'border border-danger':!isPaymentModeValid() }">
    <option value="CASH">Efectivo</option>
    <option value="TRANSFER">Transferencia</option>
  </select></div>
</div>
<div class="row mt-1">
  <div class="col-4"><label for="paymentDate" class="form-label">Fecha de pago:</label></div>
  <div class="col-8">
    <form class="form-inline">
      <div class="form-group">
        <div class="input-group pr-1">
          <input class="form-control" placeholder="yyyy-mm-dd" id="paymentDate"
                 name="dp" [(ngModel)]="modelPaymentDate" (ngModelChange)="updateDate()"
                 ngbDatepicker #paymentDate="ngbDatepicker"
                 [maxDate]="maxDate"
                 [ngClass]="{'border border-danger':!isPaymentDateValid() }">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="paymentDate.toggle()"
                    type="button"><i class="bi bi-calendar3"></i></button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="row mt-1">
  <div class="col-4">
    <label for="concept" class="form-label">Concepto:</label>
  </div>
  <div class="col-8">
    <select id="concept" class="form-control" [(ngModel)]="paymentData.paymentConceptId"
            (change)="conceptUpdated()"
            [ngClass]="{'border border-danger':!isPaymentConceptValid() }">
      <option *ngFor="let concept of paymentConcepts"
              [value]="concept.id">{{concept.label}}</option>
    </select>
  </div>
</div>
<div class="row mt-1" *ngIf="paymentSubConcepts.length">
  <div class="col-4">
    <label for="subConcept" class="form-label">Sub-Concepto:</label>
  </div>
  <div class="col-8">
    <select id="subConcept" class="form form-control"
            [(ngModel)]="paymentData.paymentSubConceptId"
            (change)="formChanged()"
            [ngClass]="{'border border-danger':!isPaymentSubConceptValid() }">
      <option *ngFor="let concept of paymentSubConcepts"
              [value]="concept.id">{{concept.label}}</option>
    </select>
  </div>
</div>

<div class="row mt-1">
  <div class="col-4">
    <label for="amount" class="form-label">Monto:</label>
  </div>
  <div class="col-8">
    <input id="amount"
           class="form-control"
           placeholder="0"
           [(ngModel)]="paymentData.amount"
           type="number"
           (change)="formChanged()"
           [ngClass]="{'border border-danger':!isPaymentAmountValid() }"
    >
  </div>
</div>
<div class="row mt-1">
  <div class="col-12">
    <label for="notes" class="form-label">Notas:</label>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <textarea id="notes" (change)="formChanged()" class="form-control" [(ngModel)]="paymentData.notes"></textarea>
  </div>
</div>
