<table class="table table-striped table-responsive">
  <thead>
  <tr>
    <th scope="col">&nbsp;</th>
    <th scope="col">Nombre</th>
    <th scope="col">Estatus</th>
    <th scope="col">Roles</th>
    <th scope="col">Circuito (Representante)</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of users; index as i">
    <td>
      <img [src]="user.picture" style="width: 50px;" alt="">
    </td>
    <td>
      <em class="bi bi-house-fill pointer" (click)="getHousesByUser(housesDialog, user)"></em>
      {{ user.name }}
    </td>
    <td>{{ user.status }}</td>
    <td>
      <app-roles-by-user [user]="user" (roleRemoved)="roleRemoved(user, $event)"></app-roles-by-user>
    </td>
    <td>
      <app-street [selectedStreet]="user.street" *ngIf="hasRole(user, 'ROLE_REPRESENTATIVE')"
                  (streetSelected)="saveStreetForRepresentative(user, $event)"></app-street>
    </td>
  </tr>
  </tbody>
</table>

<ng-template #housesDialog let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="housesDialogModal">
      Casas
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-striped table-responsive">
      <thead>
      <tr>
        <th scope="col">&nbsp;</th>
        <th scope="col">Circuito</th>
        <th scope="col">Número de casa</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let house of housesByUser">
        <td>&nbsp;</td>
        <td>{{house.streetName}}</td>
        <td>{{house.number}}</td>
        <td>
          <em class="bi bi-patch-minus pointer" (click)="deleteHouse(house)"></em>
        </td>
      </tr>

      <tr class="d-none" #row>
        <td>&nbsp;</td>
        <td>
          <select class="form-control" [(ngModel)]="selectedStreetId" (change)="getHouses()">
            <option *ngFor="let street of streets" [value]="street.id">
              {{street.name}}
            </option>
          </select>
        </td>
        <td>
          <select class="form-control" *ngIf="selectedStreetId" [(ngModel)]="selectedHouseId">
            <option *ngFor="let house of houses" [value]="house.id">
              {{house.number}}
            </option>
          </select>
        </td>
        <td>
          <button class="btn" (click)="saveHouseByUser()">
            +
          </button>
          <button class="btn" (click)="removeRow(row)">
            -
          </button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <em class="bi bi-plus-circle pointer" (click)="addRow(row)"></em>
  </div>
</ng-template>
