<div class="container pl-3 pr-3">
  <div class="mb-3">
    <label for="name" class="form-label">Nombre</label>
    <input type="text"
           class="form-control"
           id="name"
           [(ngModel)]="userName"
           aria-describedby="nameHelp">
    <div id="nameHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label class="form-label">Casas</label>
    <table class="table table-responsive">
      <thead>
      <tr>
        <th>Calle</th>
        <th>Número de casa</th>
        <th>Chips</th>
        <th>Al corriente en mantenimiento</th>
        <th>Teléfonos en caseta</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let house of housesByUser">
        <td>{{house.streetName}}</td>
        <td>{{house.number}}</td>
        <td>
          <div *ngFor="let chip of house.chips">
            {{chip.code}}
          </div>
        </td>
        <td>
          <span *ngFor="let payment of house.twoMonthsPayments">
            {{payment.amount}}
          </span>
        </td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>

  <button class="btn btn-primary" (click)="saveName()">Guardar</button>
</div>
