<div class="bg-light mt-2">
  <div>
    <label><strong>Profesor:</strong></label><label class="ml-2">{{course.professorName}} -
    <strong>Tel:</strong> {{course.professorPhone}}</label>
  </div>
  <div class="row">
    <div class="col-2"><strong>Horario:</strong></div>
    <div class="col-10">
      <span class="badge badge-info ml-2" *ngFor="let occurrence of course.occurrences">
      {{occurrence.label | weekdayLabel }} {{occurrence.startTime}}-{{occurrence.endTime}}
      </span>
    </div>
  </div>
</div>
